/*@imports*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../IMAGENES/FONDO03.png);
  font-family: "Fjalla One", sans-serif;
  position: relative;
  padding-bottom: 87px;
  padding-top: 20px;
}
@media only screen and (max-width: 450px) {
  body {
    padding-bottom: 100px;
    background-image: url(../IMAGENES/FONDO03.png);
  }
}

.bodyInicio {
  background-image: url(../IMAGENES/PASTA.jpg);
  background-image: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Fjalla One", sans-serif;
  padding-top: 20px;
}
@media only screen and (max-width: 450px) {
  .bodyInicio {
    background-image: url(../IMAGENES/PASTA02.jpg);
    position: relative;
  }
}

.contenedorMain {
  overflow-x: hidden;
  text-align: center;
  list-style: none;
}
@media only screen and (max-width: 450px) {
  .contenedorMain {
    text-align: center;
  }
}
.contenedorMain .titulos {
  text-align: center;
  padding-top: 25px;
  font-size: 25px;
}
@media only screen and (max-width: 450px) {
  .contenedorMain .titulos {
    position: absolute;
    bottom: 0;
  }
}
.contenedorMain .titulos h1 {
  animation-duration: 2s;
}
.contenedorMain .titulos h2 {
  padding-top: 30px;
}
.contenedorMain .listas {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  padding-top: 50px;
  font-size: 30px;
}
@media only screen and (max-width: 450px) {
  .contenedorMain .listas {
    font-size: 16px;
    padding: 5px;
    padding-right: 30px;
  }
}
.contenedorMain .listas ul {
  list-style: none;
  animation-duration: 2s;
}

header .navbar {
  font-size: 20px;
  height: 70%;
  width: 80%;
  margin: auto;
  border-radius: 60px;
}
header .navbar .links ul li a {
  color: rgba(244, 255, 253, 0.521);
}

.footer {
  position: absolute;
  bottom: 0;
}

footer .ParrafoFinal {
  text-align: center;
  color: antiquewhite;
  text-decoration: solid;
  padding: 10px;
  background-color: rgb(48, 36, 36);
}
@media only screen and (max-width: 450px) {
  footer .ParrafoFinal {
    font-size: 10px;
  }
}

main .productosTitulos {
  text-align: center;
  padding-top: 50px;
  padding: 50px;
}
main .productosTitulos h1 {
  font-size: 50px;
  padding-bottom: 40px;
}
@media only screen and (max-width: 450px) {
  main .productosTitulos h1 {
    font-size: 40px;
  }
}
main .productosTitulos h2 {
  padding-bottom: 50px;
  color: antiquewhite;
  padding: 10px;
  background-color: rgb(48, 36, 36);
}
@media only screen and (max-width: 450px) {
  main .productosTitulos h2 {
    font-size: 20px;
  }
}
main .productosTitulos h5 {
  display: inline-block;
  text-decoration: solid;
  padding: 10px;
  background-color: rgb(48, 36, 36);
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .carouselEstilo {
  width: 70%;
  margin: 0 auto;
  padding: 40px;
}

main .tituloDistri {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

main .tituloNos {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
main .CardUno {
  margin-top: 100px;
}
main .CardDos {
  margin-top: 100px;
}
main .logoNos {
  display: flex;
  height: 200px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

main .tituloContacto {
  text-align: center;
  padding: 30px;
  padding-bottom: 39px;
}
main .tituloContactoDos {
  text-align: center;
  padding: 30px;
  justify-content: center;
  display: inline;
}
main .tituloContactoDos h1 {
  padding-top: 50px;
}
main .tituloContactoDos h4 {
  padding-bottom: 50px;
}
main .redesContacto {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
main .redesContacto .whatsapp {
  width: 60px;
  margin: 5px;
}
main .redesContacto .instagramDos {
  width: 60px;
  margin: 5px;
}
main .redesContacto .facebookDos {
  width: 60px;
  margin: 5px;
}
main .textoContactoUno .textoContactoDos {
  text-align: center;
}
main .textoContactoUno .textoContactoDos .textoContactoTres .formaPago .ImgContacto {
  width: 100px;
}
main .textoContactoUno .direccionContacto .direccionUno .direccion {
  padding-bottom: 100px;
}
main .textoContactoUno .direccionContacto .direccionUno .direccion .ImgContacto {
  width: 100px;
}

/*# sourceMappingURL=style.css.map */
