.footer {

    position: absolute;
    bottom: 0;
    @media only screen and ( max-width:450px ) {position: absolute;bottom: 0}

 

}

footer {
    .ParrafoFinal {
        text-align: center;
        color: antiquewhite;
        text-decoration: solid;
        padding: 10px;
        background-color: rgb(48, 36, 36);

      

    }
}