

.footer {

    position: absolute;
    bottom: 0;
    @include mobile (){position: absolute;bottom: 0}

    div p { @include mobile () {font-size: 10px;}

    }

 

}

footer {
    .ParrafoFinal {
        text-align: center;
        color: antiquewhite;
        text-decoration: solid;
        padding: 10px;
        background-color: rgb(48, 36, 36);
        @include mobile () {font-size: 10px;}

      

    }
}