*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../IMAGENES/FONDO03.png);
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    padding-bottom: 87px;
    padding-top: 20px;
    @media only screen and ( max-width:450px ) { padding-bottom: 100px; background-image: url(../IMAGENES/FONDO03.png);}
}
